$base-1-colour: #191a1d;
$base-2-colour: #222327;
$base-3-colour: #46464a; // even #1f2335;
$base-4-colour: #616367; //#56575a; // odd #323642; //
$base-5-colour: #8d9299;

$primary-1-colour: #00416a; //#096ddf; // selected
$secondary-1-colour: #035857; // timesheet

$base-1-text-colour: #eaeaea;
$base-2-text-colour: #afafaf;
$base-5-text-colour: #474444;
$primary-1-text-colour: lighten($primary-1-colour, 30%);
$secondary-1-text-colour: lighten($secondary-1-colour, 20%);

$border-colour: #3e3f44;
