$base-1-colour: #191a1d;
$base-2-colour: #222327;
$base-3-colour: #46464a; // even #1f2335;
$base-4-colour: #616367; //#56575a; // odd #323642; //

$primary-1-colour: #cc266b; //#096ddf; // selected
$secondary-1-colour: #2f5194; // timesheet

$base-1-text-colour: #c4c4c4;
$base-2-text-colour: #afafaf;
$primary-1-text-colour: #f7c5da;
$secondary-2-text-colour: #f779ae;

$border-colour: #3e3f44;
