.uk-input {
  background: initial;
  border-color: $border-colour;

  &:focus {
    background-color: $base-2-colour;
    color: $base-2-text-colour;
  }
}

.uk-button {
  color: $base-1-text-colour;
}
.uk-button-primary {
  background-color: $primary-1-colour;
  color: $primary-1-text-colour;
}
.uk-button-danger {
  background-color: #111111;
}
.uk-button-default:disabled {
  color: darken($base-1-text-colour, 50%);
  border-color: darken($border-colour, 50%);
}

.uk-form-label {
  color: $base-1-text-colour;
}

.ember-power-select-trigger {
  background-color: initial;
}
.ember-power-select-multiple-option {
  border: 1px solid darken($secondary-1-colour, 30%); // #5ba9ff;
  color: $secondary-1-text-colour;
  background-color: $secondary-1-colour; //#076ddf;
}
