$headerHeight: 80px;

.pages-tracker {
  position: relative;
}

.add-button {
  width: 100%;

  input {
    background-color: black;
  }
}
.tracked-days {
  width: 200px;
  height: calc(100vh - #{$headerHeight});
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.load-more {
  width: 100%;
}
