<div
    id="pages-tracker"
    class="uk-container uk-container-xlarge"
    local-class="pages-tracker"
>
  <div id="tracked-days" local-class="tracked-days">
    <button
        type="button"
        local-class="add-button"
        class="uk-button uk-button-primary uk-button-small">
      <PikadayInput @onSelection={{action 'dateAction'}} @placeholder="Add..." />
    </button>
    {{#each this.sortedDays as |day|}}
      <Ui::Tracker::TrackedDay @day={{day}} />
    {{/each}}
  </div>
  {{outlet}}
</div>