<div
  class="uk-container-expand"
  uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"
>
  <Ui::NavBar />
</div>
<div>
  {{outlet}}
</div>
<NotificationContainer @position="bottom-right" @zindex="9999" />