.message {
  margin-top: 15px;

  &:global(.last-viewed) {
    border-bottom: 1px solid $secondary-1-text-colour;
    position: relative;

    &:after {
      content: "new messages";
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
      position: absolute;
      bottom: 0px;
      transform: translateY(100%);
      right: 0;
    }
  }

  &:hover {
    background-color: $base-2-colour;
  }

  line-height: initial;
  .date {
    color: $base-3-colour;
    font-size: 11px;

    display: inline-block;
  }
  .user {
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 2px;
    &:global(.me) {
      color: $secondary-1-colour;
    }
  }
  .text {
    display: inline-block;
    font-size: 14px;
  }
}
