<div id="track-container" local-class="track-container">
  <div id="tracked-tasks" local-class="tracked-tasks">
    tracked tasks:
    {{@dayId}}
  </div>
  <div id="timesheet" local-class="timesheet">
    timesheet
  </div>
</div>