.pages-tracker {
  position: relative;
}
.tracked-days {
  background-color: rgb(19, 18, 18);
  width: 200px;
  height: calc(100vh - 100px);
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
}
