.test-counter-container {
  background-color: red;
  display: inline;

  :global(.animated-container) {
    overflow: hidden;
    display: inline-block;
  }
}

.total {
  font-weight: bold;
  background: $secondary-1-colour;
  color: white;
}

.total-chargecode {
  background: $secondary-1-colour;
  color: white;
  font-weight: bold;
}

.yeti-table {
  &:global(.yeti-table) {
    color: $primary-1-text-colour;
  }
  th {
    &:global(.active) {
      font-weight: bold;
      color: white;
    }
  }
  thead {
    tr {
      background-color: $primary-1-colour;
    }
  }
  tbody {
    tr {
      background-color: $primary-1-colour;

      &:nth-child(odd) {
        background-color: darken($primary-1-colour, 3%);
      }
    }
  }
}
