.test-counter-container {
  // overflow: hidden;
  background-color: red;
  display: inline;

  :global(.animated-container) {
    overflow: hidden;
    display: inline-block;
  }
}

.total {
  font-weight: bold;
  background: #150131;
  color: white;
}
