.test-counter-container {
  // overflow: hidden;
  background-color: red;
  display: inline;

  :global(.animated-container) {
    overflow: hidden;
    display: inline-block;
  }
}

.total {
  font-weight: bold;
  background: $secondary-1-colour;
  color: white;
}

.total-chargecode {
  background: $secondary-1-colour;
  color: white;
  font-weight: bold;
}
