.tracked-day-container {
  align-items: center;
  background-color: $base-3-colour; //#050b21;
  border-bottom: 1px solid darken($base-3-colour, 30%); //#152973;
  color: white;
  cursor: pointer;

  &:global(.odd-week) {
    background-color: $base-4-colour; //#141f46;
    color: white;
    border-color: darken($base-4-colour, 30%); //#29355a;
  }

  :global(.uk-button) {
    padding: 0 5px;
  }
  &:hover {
    background-color: $primary-1-colour;
  }
  &.active {
    background-color: $primary-1-colour;
  }
  &:global(.today) {
    background-color: $secondary-1-colour;
  }
  &:global(.active) {
    background-color: $primary-1-colour;
  }
}

.tracked-day {
  //background-color: rgb(15, 73, 233);
  //border-bottom: 1px solid #002280;
  //color: white;
  //cursor: pointer;
  padding: 5px 5px;
  //align-items: center;
  flex-grow: 1;

  //.d
  //  //  flex-grow: 1;
  //  //}ate {
}
