.tracked-day {
  background-color: rgb(15, 73, 233);
  border-bottom: 1px solid #002280;
  color: white;
  cursor: pointer;
  padding: 5px 5px;
  align-items: center;

  .date {
    flex-grow: 1;
  }
  &:global(.odd-week) {
    background-color: #25335c;
    color: white;
    border-color: #3759be;
  }

  :global(.uk-button) {
    padding: 0 5px;
  }
  &:hover {
    background-color: rgb(228, 17, 122);
  }
  &.active {
    background-color: hotpink;
  }
  &:global(.active) {
    background-color: hotpink;
  }
}
