<div {{did-resize this.didResize}}>
  IMA TASK
  <div local-class="tracked-tasks">
    asd
  </div>
  <div local-class="tracked-time">
    {{#each this.squares as |square|}}
      <div local-class="square"></div>
    {{/each}}
  </div>
</div>