$tasksWidth: 300px;
$checkedBorder: #093bdf;

$containerBottomPadding: 15px;
$blockHeight: 30px;

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: $containerBottomPadding;
}
.tracked-tasks {
  width: $tasksWidth;
  flex-shrink: 0;
  border-bottom: 1px solid rgb(129, 129, 129);

  :global(.ember-power-select-trigger) {
    flex-grow: 1;
  }
}
.tracked-time {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(129, 129, 129);
}

.time-blocks-container {
  position: absolute;

  left: $tasksWidth;
  bottom: $containerBottomPadding + 1;
  width: 100%;
}
.time-blocks {
  position: relative;
  width: 100%;
  height: $blockHeight;

  .time-block {
    height: $blockHeight;
    background-color: red;
    position: absolute;
  }
}

.square {
  width: 15px;
  min-width: 15px;
  height: $blockHeight;
  cursor: pointer;

  outline: 1px solid rgb(129, 129, 129);

  &:nth-child(odd) {
    background: $base-4-colour;
  }
  &:nth-child(even) {
    background: $base-3-colour;
  }

  $focusScale: 1.2;

  &:focus {
    outline: 1px solid $checkedBorder;
    // transform: scaleY($focusScale);
  }

  // using the :global pseudoselector from ember-css-modules as this class is set by ember-css-transitions
  &.block-selected,
  &:global(.block-selected),
  &:global(.block-selected-add),
  &:global(.block-selected-add-active) {
    transform: scaleY($focusScale);
    opacity: 1;
    outline: 1px solid $checkedBorder;
  }
  &:global(.block-selected-remove),
  &:global(.block-selected-remove-active) {
    transform: scaleY(1);
  }
  &:global(.block-selected-add) {
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
  }
  &:global(.block-selected-remove) {
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
  }

  &:global(.checked) {
    outline-color: $checkedBorder;
  }

  &:global(.checked) {
    opacity: 1;
  }
  &:hover {
    background: $secondary-2-colour;
    opacity: 1;
  }
}

.block-checked {
  width: 15px;
  min-width: 15px;
  height: $blockHeight;
  background-color: $primary-1-colour;
  outline: 1px solid $checkedBorder;
}
