$sideWidth: 200px;
$timesheetHeight: 200px;

.track-container {
  height: calc(100vh - 100px);
  position: absolute;

  top: 0;
  left: $sideWidth;
  right: 0;
  overflow: hidden;
}

.tracked-tasks-container {
  height: calc(100% - #{$timesheetHeight});
  width: calc(100vw - #{$sideWidth});
  overflow-y: auto;
  position: relative;
}

.tick-container {
  position: absolute;
  top: 0;
  left: 300px;
  display: flex;
  flex-direction: row;

  .tick-hour {
    width: 60px;
    min-width: 60px;
    height: calc(100vh - 100px - 100px);
    display: inline-block;
    user-select: none;
    text-align: center;
    &:nth-child(odd) {
      background-color: rgb(240, 240, 240);
    }
  }
}
.time-container {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
}
.add-tracked-task {
  width: 300px;
}

.timesheet {
  height: $timesheetHeight;
  width: calc(100vw - #{$sideWidth});
  background-color: rgb(160, 160, 160);
  overflow-y: auto;
}

.test-counter-container {
  // overflow: hidden;

  :global(.animated-container) {
    overflow: hidden;
  }
}
